[common]
server_addr = "127.0.0.1"
server_port = 12001
log_level = "info"
auth_token = "press your unique auth token here"

[clients]
# protocol # tcp | udp | http | https
ssh = { protocol="tcp", local_ip="127.0.0.1", local_port = 22, remote_port = 12022 }